name: Workflow with NonRequired

on:
  pull_request:
  merge_group:

jobs:
  test:
    name: NonRequiredCheck
    runs-on: ubuntu-20.04
    steps:
      - name: NonRequired
        run: |
          exit 0

